doctype html
html
  head
    title Curriculum Vitae
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Responsive HTML5 Resume/CV Template for Developers')
    meta(name='author' content='Xiaoying Riley at 3rd Wave Media')
    link(rel='shortcut icon' href='stylesheets/favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Pavanam' rel='stylesheet')
    link(rel='stylesheet' href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='stylesheets/font-awesome.css')
    link#theme-style(rel='stylesheet' href='stylesheets/styles-4.css')
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    block content
  .wrapper
    .sidebar-wrapper
      .profile-container
        img.profile(src='images/lupita.jpg' width='120' height='170' alt='')
        h1.name Mar&iacute;a Guadalupe Silva Chima
        h3.tagline Estudiante
      .contact-container.container-block
          ul.list-unstyled.contact-list
            li.linkedin
              br
              i
              a  20/Octubre/1995
            br
            li.home
              i
              a Calle Alacio Perez #106   Colonia Ateopan
            br
            li.phone
              i
              a 924 246 0964
            br
            li.email
              i
              a lupita.silva@outlook.es
            br
            li.github
              i
              a github.com/lupita-mgsc
            br
            br
            br
            li.contact
              i
              a(style='color:#F1C40F') Contacto Emergencia:
            br
            li.name1
              i
              a Rubiela Chima Juarez
            br
            li.phone
              i
              a 924 246 0964
            br
            li.home
              i
              a Calle Alacio Perez #106   Colonia Ateopan
            br
    .main-wrapper
      section.section.summary-section
        h2.section-title
          i
          | Objetivo
        .summary
          p(align='justify')
            | Considero interesante el hecho de trabajar en el ambito en el que me he estado formando los ultimos a&ntilde;os al realizar mi carrera universitaria y, as&iacute;, poder desempe&ntilde;ar todo lo que he aprendido y aprender cosas nuevas.
      section.section.estudios-section
        h2.section-title
          i
          | Estudios Realizados
        .item
          .meta
            .upper-row
              h3.job-title(align='justify') INSTITUTO TECNOLOGICO SUPERIOR DE ACAYUCAN
              br
              .time 2014 - 2018
            // //upper-row
            .company Acayucan Veracruz
          // //meta
          .details
            p
              | &check; Actualmente estudiante del octavo semestre de carrera Ingenieria En Sistemas Computacionales.
          // //details
        // //item
        .item
          .meta
            .upper-row
              h3.job-title CENTRO DE BACHILLERATO TECNOLOGICO INDUSTRIAL Y DE SERVICIOS #48.
              br
              .time
                br
                | 2011 - 2014
            // //upper-row
            .company Acayucan Veracruz
          // //meta
          .details
            p &check; Tecnico en contabilidad.
          // //details
        // //item
      // //section
      section.section.projects-section
        h2.section-title
          i
          | Formaci&oacute;n Complementaria
        .intro
          p &check; Primer Congreso Nacional De L&iacute;deres En Tecnolog&iacute;as Empresariales.
          br
          p &check; Taller De Mantenimiento Preventivo De Computadoras.
          br
          br
        // //intro
        section.skills-section.section
          h2.section-title
            i
            | Habilidades
          .skillset
            .item
              h3.level-title PHP
              .level-bar
                .level-bar-inner(data-level='40%')
              // //level-bar
            // //item
            .item
              h3.level-title JAVA
              .level-bar
                .level-bar-inner(data-level='40%')
              // //level-bar
            // //item
            .item
              h3.level-title HTML5 &amp; CSS
              .level-bar
                .level-bar-inner(data-level='40%')
              // //level-bar
            // //item
            .item
              h3.level-title COREL DRAW
              .level-bar
                .level-bar-inner(data-level='30%')
              // //level-bar
            // //item
            .item
              h3.level-title PHOTOSHOP
              .level-bar
                .level-bar-inner(data-level='45%')
              // //level-bar
            // //item
            .item
              h3.level-title MYSQL
              .level-bar
                .level-bar-inner(data-level='65%')
              // //level-bar
            // //item
        // //skills-section
    // //main-body
  footer.footer
    .text-center
    // //container
  // //footer
  // Javascript
  script(type='text/javascript' src='javascripts/jquery-1.11.3.min.js')
  script(type='text/javascript' src='javascripts/bootstrap.min.js')
  // custom js
  script(type='text/javascript' src='javascripts/main.js')
